<main>
  <form
    class='form-alert'
    action='/product-list'
    method='get'
  >
    <div>
      <h3 class='form__title'>Успішне виконання дії</h3>
      <div>{{info}}</div>
    </div>
    <button class='form__button-alert'>Повернутися назад</button>
  </form>
</main>