<main>
  <section>
    <form
      class='form'
      action='/product-create'
      method='post'
    >
      <div class='card'>
        <div class='card-header'>
          Створення товару
        </div>
        <div class='card-body'>
          <h5 class='card-title'>Інформація про товар</h5>
          <label class='form__label'>Назва товару
            <input
              type='text'
              name='name'
              placeholder='Назва продукту'
              class='form__input'
            />
          </label>
          <label class='form__label'>Ціна продукту
            <input
              type='number'
              name='price'
              placeholder='Ціна продукту'
              class='form__input'
            />
          </label>
          <label class='form__label'>Короткий опис товару</label>
          <textarea
            name='description'
            placeholder='Короткий опис продукту'
            class='form__input'
          ></textarea>
          <button
            class='form__button btn btn-primary'
          >Створити товар</button>
        </div>
      </div>
    </form>
  </section>
</main>