{{#if center}} <center>{{/if}}
<div class='heading {{#if title}}grid{{/if}}'>
  <h2 class='{{#if blue}}caption{{/if}}'>{{caption}}</h2>
  {{#if title}}<div>{{title}}</div>{{/if}}
</div>
{{#if center}} </center>{{/if}}