<div class="pane">
  <img src="/img/close.svg" alt="close">
  <form action="/spotify-playlist" method="post" class="playlist-create">
    <label for="playlistNameInput" class="playlistNameLabel">Назвіть плейліст</label>
    <div class="playlist-subcreate">
      <input type="text" name="playlistName" class="playlistNameInput">
      <input type="hidden" name="playlistType" value="{{type}}">
      <button class="button">Створити</button>
    </div>
  </form>
</div>