<div class="pane">
  <form action="/spotify-playlist" class="playlist-create">
    <label for="playlistNameInput" class="playlistNameLabel">Назвіть плейліст</label>
    <input type="text" name="playlistName" class="playlistNameInput">
    <button class="button">Створити</button>
  </form>
</div>