@use '../../lib/services.scss' as s;
.pane {
  padding-top: s.space(71);
}
.playlist-create {
  display: grid;
  gap: s.space(28);
}
.playlistNameLabel {
  font-size: s.space(5);
  font-weight: 500;
  color: s.color('white');
  align-self: center;
}
.playlistNameInput {
}
.button {
}