<main>
  <section>
    <form class='form'>
      <h1 class='form__caption'>Список товарів</h1>
      <h3 class='form__title'>Порожній | (<a
          href='/product-create'
        >Створити</a>)</h3>
    </form>
  </section>
</main>