<main>
  <section>
    <form class='form'>
      <h1 class='form__caption'>Список товарів</h1>
      <div class='form__title'>Порожній | (<a
          href='/product-create'
        >Створити</a>)</div>
    </form>
  </section>
</main>