<main>
  <section>
    <form class='form' action='/user-create' method='post'>
      <h1 class='form__caption'>Створити користувача</h1>
      <label for='user__login' class='form__label'>Логін
        <input
          type='text'
          name='user__login'
          placeholder='Логін'
          class='form__input'
        />
      </label>
      <label for='user__email' class='form__label'>Email
        <input
          type='email'
          name='user__email'
          placeholder='Email'
          class='form__input'
        />
      </label>
      <label for='user__password' class='form__label'>Пароль
        <input
          type='password'
          name='user__password'
          placeholder='Пароль'
          class='form__input'
        />
      </label>
      <button class='form__button'>Створити</button>
    </form>
  </section>
  <section>
    <form class='form'>
      <h1 class='form__caption'>Список користувачів</h1>
      {{#with data.users}}
        {{#if isEmpty}}
          <div class='form-title'>Порожній</div>
        {{else}}
          <ul>
            {{#each list}}
              <li>{{login}}
                |
                {{email}}
                | (<a href='/user-create'>Видалити</a>) | (<a
                  href='/user-create'
                >Оновити</a>)</li>
            {{/each}}
          </ul>
        {{/if}}
      {{/with}}
    </form>
  </section>
</main>