@use '../../style' as s;

.desk {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.page {
		display: grid;
		gap: s.space(6);
		border: 1px solid #000;
		border-radius: s.space(3);
		padding: s.space(6);
		width: s.space(180);
		background-color: s.color(white);
		.list__title {
			font-size: s.space(6);
			line-height: s.space(4.8);
		}
		.input__group {
			display: flex;
			gap: s.space(3);
		}
		.list__input {
			border: 1px solid s.color('gray');
			padding: s.space(4) s.space(3);
			width: 100%;
			border-radius: s.space(3);
		}
		.list__button {
			background-color: s.color(main);
			color: s.color(white);
			padding: s.space(1) s.space(5.5);
			border-radius: s.space(1);
		}
		.listItem__wrapper {
			display: flex;
			justify-content: space-between;
		}
		.listItem__body {
			display: flex;
			align-self: center;
			gap: s.space(3);
		}
		.item__done {
			color: s.color('gray');
			text-decoration: line-through;
		}
		.icons {
			display: flex;
		}
		.icon {
			width: s.space(6);
			height: s.space(6);
			border-radius: 100%;
			border: 1px solid s.color('gray');
		}
		.icon-do {
			 background-image: url('/svg/icon-do.svg');
		}
		.icon-done {
			 background-image: url('/svg/icon-done.svg');
		}
		.icon-cancel {
			 background-image: url('/svg/icon-cancel.svg');
		}
	}
}