{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="desk">
    <div class="page">
			{{#with todolist}}
				<div class="list__title">{{title}}</div>
				{{#with input}}
					<div class="input__group">
						<input type="text" id="input" placeholder="{{placeholder}}" class="list__input">
						<button class="list__button" id='button'>{{button}}</button>
					</div>
				{{/with}} <!-- end of input -->
				{{!-- {{#each listItem}} --}}
					<div id='task__list'></div>
				{{!-- {{/each}} <!-- end of listItem --> --}}
			{{/with}} <!-- end of todolist -->
    </div>
</div>

<template id="task">
				<div class='listItem__wrapper'>
					<div class='listItem__body'>
						<span class="item">1.</span>
						<span class="itemp">Some placeholder content in a paragraph below the heading and date.</span>
					</div>
					<div class='icons'>
						{{!-- {{#each icons}} --}}
							<button class='icon icon-do'>
							</button>
							<button class='icon icon-cancel'>
							</button>
						{{!-- {{/each}} <!-- end of icons --> --}}
					</div>
				</div>
</template>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}