@use '../../lib/services.scss' as s;

.caption {
  color: s.color('blue');
}
.title {
  color: s.color('gray');
}
.heading {
  display: grid;
  gap: s.space(5);
  margin-bottom: s.space(15);
}
.card-container {
  display: grid;
  grid: repeat(3, min-content) / repeat(3, min-content);
  gap: s.space(15) s.space(5);
  padding-bottom: s.space(2);
}
.card {
  display: grid;
  gap: s.space(4);
  padding: s.space(4);
  border: 1px solid s.color('gray');
}
.badge {
  border-radius: s.space(5);
  padding: s.space(4) s.space(2);
}
.blue-badge {
  border: 1px solid s.color('blue');
  color: s.color('blue');
}
.green-badge {
  border: 1px solid s.color('green');
  color: s.color('blue');
}
.button {
  border-radius: s.space(5);
  padding: s.space(4) s.space(2);
}
.blue-button {
  background-color: s.color('blue');
  color: s.color('white');
}
