@use '../../lib/services.scss' as s;

.form-alert {
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  background-color: s.color('light-gray');
  box-shadow: s.space(4) s.space(6) s.space(8)
    s.color('light-blue');
  &__title {
    font-size: s.space(5);
    font-weight: bold;
  }
  &__button {
    background-color: s.color('blue');
    color: s.color('white');
    padding: s.space(2);
    justify-self: stretch;
  }
}
