@use '../../style' as s;

.desk {
	width: 100%;
  max-width: s.space(300);
  height: s.space(75);
	background-color: s.color('gray');
	display: grid;
	gap: s.space(16);
	justify-content: center;
}
.menu__block {
	display: flex;
	justify-content: space-between;
}
.menu__items {
	display: flex;
	gap: s.space(8);
	align-self: baseline;
}
.menu__item {
	text-transform: capitalize;
}
.menu__button {
	align-self: start;
}