<main>
  <form class='form-alert' action='/purchase-list' method="post">
    <div>
      <h3 class='form-alert__title'>Успішне виконання дії</h3>
      <div>{{info}}</div>
    </div>
    <input type="hidden" name='id' value="{{id}}">
    <button class='form-alert__button'>Повернутися назад</button>
  </form>
</main>