@use '../../lib/services.scss' as s;

.form-alert {
  padding: s.space(5);
  display: flex;
  justify-content: space-around;
  gap: s.space(4);
  background-color: s.color('gray');
  box-shadow: s.space(4) s.space(6) s.space(8)
    s.color('blue');
  &__title {
    font-size: s.space(5);
    font-weight: bold;
  }
  &__button {
    background-color: s.color('blue');
    color: s.color('white');
    padding: s.space(2);
  }
}
