<div class="pane">
  <form action="" method="get">
    {{!-- <input type="search" name="search" id=""> --}}
    <div class="searchField justify">
      <svg width="48" height="48" viewBox="0 0 48 48">
        <image href="/img/search.svg" width="48" height="48">
      </svg>      
      <div class="searchText">Пошук</div>
    </div>
  </form>
  <div class="card-container">
    <img width="164px" height="164px" src="/img/pl1.svg" alt="">
    <img width="164px" height="164px" src="/img/pl2.svg" alt="">
  </div>
</div>