<div class="pane">
  <form action="" method="get">
    <input type="search" name="search" id="">
    <div class="searchField">Пошук</div>
  </form>
  <div class="card-container">
    <img width="164px" height="164px" src="/img/pl1.svg" alt="">
    <img width="164px" height="164px" src="/img/pl2.svg" alt="">
  </div>
</div>