@use '../../lib/services.scss' as s;
.searchField {
  background-color: s.color('black2');
  padding: s.space(2.5) s.space(8);
}
svg {
  fill: s.color('gray2');
}
.pane {
  width: s.space(130);
  display: flex;
  flex-direction: column;
  gap: s.space(15);
  .justify {
    display: flex;
    justify-content: space-between;
  }
}
.justify a {
  padding: s.space(1);
}
.card {
  display: grid;
  gap: s.space(5);
  margin-bottom: s.space(12.375);
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: s.space(7.5);
    border: 1px solid s.color('gray');
  }
  .playlistAmount {
    color: s.color('gray');
  }
}
.searchText {
  color: s.color('white');
  font-size: s.space(7);
  padding-top: s.space(0.5);
}