<main>
  <section>
    <form
      class='form'
      action='/product-update'
      method='post'
    >
      <h1 class='form__caption'>Оновити ціну продукту</h1>
      <label class='form__label'>ID
        <input
          type='text'
          name='id'
          placeholder='ID'
          class='form__input'
        />
      </label>
      <label class='form__label'>Нова ціна
        <input
          type='text'
          name='price'
          placeholder='Ціна'
          class='form__input'
        />
      </label>
      <button class='form__button'>Оновити</button>
    </form>
  </section>
</main>