@use '../../style' as s;

main {
	background-color: s.color('gray');
	color: s.color(light);
	padding: s.space(4) s.space(10);
	border-radius: s.space(25);
	display: flex;
	gap: s.space(10);
	input {
		background-color: s.color(dark);
		width: 100%;
		border-radius: s.space(54);
		padding: s.space(4) s.space(10);
		font-weight: 500;
		font-size: s.space(8);
	}
}