{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <button id="back">
        <img src="/svg/back.svg" alt="back">
    </button>
    <button id="next">
        <img src="/svg/next.svg" alt="next">
    </button>
    <button id="home">
        <img src="/svg/home.svg" alt="home">
    </button>
    <button id="reload">
        <img src="/svg/reload.svg" alt="reload">
    </button>
    <input type="text" placeholder="Введіть URL-адресу" id="input">
    <button id="go">
        <img src="/svg/go.svg" alt="go">
    </button>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}