<main>
  <section>
    <form class='form'>
      <h1 class='form__title'>Список товарів</h1>
      {{#with data.products}}
        <div class='card__container'>
          {{#each list}}
            <div class='card'>
              <h3>{{name}}</h3>
              <p>{{description}}</p>
              <h5>ID :{{id}}</h5>
              <div>
                <h4>{{price}}&#8372;</h4>
                <a href='/product-edit'></a>
              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
    </form>
  </section>
</main>