@use '../../lib/services.scss' as s;

.card {
  display: flex;
  flex-direction: column;
  gap: s.space(1);
  padding: s.space(2);
  width: s.space(40);
  height: s.space(40);
  background-color: s.color('white');
  box-shadow: s.space(2) s.space(3) s.space(4)
    s.color('black');
  &__container {
    display: flex;
    gap: s.space(4);
    margin-top: s.space(4);
    margin-left: s.space(2);
  }
  h3 {
    color: s.color('light-blue');
    margin-bottom: s.space(2);
  }
  h5 {
    color: s.color('light-gray');
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  a {
    color: s.color('blue');
  }
}
