@use '../../lib/services.scss' as s;

.form {
  display: grid;
  gap: s.space(2);
  background-color: s.color('transparent-white');
  box-shadow: s.space(4) s.space(6) s.space(8)
    s.color('gray');
  &__title {
    font-size: s.space(5);
    font-weight: bold;
  }
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: s.space(2);
  }
  &__block div {
    width: 45%;
  }
  &__input {
    border: 1px solid s.color('black');
    padding: s.space(2);
    width: 100%;
  }
  &__label {
    display: block;
    margin-top: s.space(2);
  }
  &__button {
    background-color: s.color('blue');
    color: s.color('white');
    padding: s.space(2);
    justify-self: stretch;
  }
  &__link {
    padding: s.space(2);
  }
}
