@use '../../lib/services.scss' as s;

.main__caption {
  color: s.color('blue');
  margin-bottom: s.space(15);
  font-size: s.space(10);
  font-weight: 700;
}
.text-bold {
  font-weight: 500;
}
.line-height {
  font-size: s.space(5);
  line-height: 1.21;
}
.justify  {
  display: flex;
  justify-content: space-between;
}
.grid {
  display: grid;
}
.gap-20 {
  gap: s.space(5);
}
.gap-10 {
  gap: s.space(2.5);
}
.form {
  background-color: s.color('white');
  box-shadow: 0 s.space(1) s.space(3.75) 0 s.color('transparent-black');
  padding: s.space(6);
  &__title {
    color: s.color('blue');
  }
  &__input {
    border: 1px solid s.color('black');
    padding: s.space(2);
  }
  &__label {
    margin-top: s.space(2);
  }
  & a {
    border: 1px solid s.color('black');
    background-color: s.color('red');
    color: s.color('white');
    text-align: center;
    padding: s.space(2);
    width: 49%;
  }
  &__button-update {
    background-color: s.color('green');
    color: s.color('white');
    padding: s.space(2);
    width: 49%;
  }
  &__link {
    padding: s.space(2);
  }
}