<div class="pane">
    {{> heading caption=caption center=true }}
  <div class='card-container'>
    <div class='card'>
      <a href="/spotify-playlist-cra?playlistType=playlist">
        <img width="56px" height="56px" src='/img/playlist.svg' alt="playlist" />
      </a>
      {{> heading caption=caption2 title=title2 }}
    </div>
    <div class='card'>
      <a href="/spotify-playlist-cra?playlistType=mix">
        <img width="56px" height="56px" src='/img/union.svg' alt="mix" />
      </a>
      {{> heading caption=caption3 title=title3 }}
    </div>
  </div>
</div>